<ion-header>
    <ion-toolbar color="tertiary">
        <ion-back-button slot="start"></ion-back-button>
        <ion-title style="font-weight: bold;">Minhas Áreas</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="container">
    <!-- Informacoes das Areas -->
    <ion-card *ngFor="let area of getAreas()" color="light">

        <!-- Informacoes Atuais -->
        <ion-item *ngIf="!edit || area.id != editID" color="tertiary">
            <ion-card-title>
                {{area.name}}
            </ion-card-title>

            <ion-button fill="outline" slot="end" (click)="editArea(area)" color="light">
                <ion-icon name="create"></ion-icon>
            </ion-button>

            <ion-button fill="outline" slot="end" (click)="remove(area)" color="light">
                <ion-icon name="trash"></ion-icon>
            </ion-button>
        </ion-item>

        <ion-card-content *ngIf="!edit || area.id != editID">
            <ion-text>
                {{area.description}}
            </ion-text>
            <br>
            <ion-text>x: {{area.x}} | y: {{area.y}}</ion-text>
        </ion-card-content>

        <!-- Informacoes em modo de Edicao -->
        <ion-item *ngIf=" edit && area.id == editID">
            <ion-card-title>
                Editando: {{ area.name}}
            </ion-card-title>
        </ion-item>

        <ion-card-content *ngIf="edit && area.id == editID">
            <!--Name-->
            <ion-item>
                <ion-label position="stacked">Nome
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input maxlength="50" value="{{area.name}}" placeholder="Nome"></ion-input>
            </ion-item>
            <!--Description-->
            <ion-item>
                <ion-label position="stacked">Descrição
                    <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-textarea maxlenght="300" value="{{area.description}}" placeholder="Descrição">
                </ion-textarea>
            </ion-item>

            <!--X and Y-->
            <ion-item>
                <ion-label>x: </ion-label>
                <ion-input disabled value="{{area.x}}" color="primary"></ion-input>
                <ion-label>y: </ion-label>
                <ion-input disabled value="{{area.y}}" color="primary"></ion-input>
            </ion-item>

            <!--Width and Height-->
            <ion-item>
                <ion-label>largura: </ion-label>
                <ion-input disabled value="{{area.width}}"></ion-input>
                <ion-label>altura: </ion-label>
                <ion-input disabled value="{{area.height}}"></ion-input>
            </ion-item>

            <ion-button expand="block" mode="ios" size="small" slot="start" (click)="salvarDados(area)">
                Confirmar
            </ion-button>

            <ion-button expand="block" mode="ios" size="small" slot="end" (click)="cancelar()">
                Cancelar
            </ion-button>

        </ion-card-content>

    </ion-card>

</ion-content>