<ion-header>
    <ion-toolbar>
        <ion-title><strong>Welcome to Slamduino</strong></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="padding">

    <ion-card class="centerPage">
        <ion-card-content>
            <ion-item class="input">
                <ion-label position="floating">Host</ion-label>
                <ion-input></ion-input>
            </ion-item>
        </ion-card-content>

        <ion-button expand="block" class="bnt" routerLink="/map" class="bnt">
            Entrar
        </ion-button>

        <ion-fab-button (click)="test()"></ion-fab-button>
        <ion-fab-button color="tertiary" (click)="test2()"></ion-fab-button>
    </ion-card>

</ion-content>