<!--
<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start">
            <ion-icon icon="menu"></ion-icon>
        </ion-menu-button>
        <ion-title>Home</ion-title>

        <ion-button slot="end" (click)="onReset()" color="none" fill="clear" expand="block" size="large">
            <ion-icon name="refresh" color="dark"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header> -->


<ion-content [scrollEvents]="false" (fullscreen)="true">

    <draw-canvas (touchstart)="onDown($event)" (touchend)="onUp($event)" (touchmove)="onMove($event)" (pinchstart)="pinchStart($event)" (pinchend)="pinchEnd($event)" (pinchMove)="pinchMove($event)"></draw-canvas>

    <!-- Tela de Cadastro -->
    <div *ngIf="registerArea" class="register">

        <ion-card>
            <ion-item color="primary" id="title">
                <ion-card-title color="light">
                    Register Area
                </ion-card-title>
            </ion-item>

            <ion-card-content class="content">
                <!--Name-->
                <ion-item id="login">
                    <ion-label position="stacked">Name
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-input maxlength="50" placeholder="Add here the name of area" [(ngModel)]="name"></ion-input>
                </ion-item>
                <!--Description-->
                <ion-item id="description">
                    <ion-label position="stacked">Description
                        <ion-text color="danger">*</ion-text>
                    </ion-label>
                    <ion-textarea maxlenght="300" placeholder="Add Here a description of area." [(ngModel)]="description">
                    </ion-textarea>
                </ion-item>

                <ion-button expand="block" mode="ios" size="small" slot="start" (click)="addArea()">
                    Confirm
                </ion-button>

                <ion-button expand="block" mode="ios" size="small" slot="end" (click)="cancel()">
                    Cancel
                </ion-button>
            </ion-card-content>


        </ion-card>

    </div>

    <ion-fab *ngIf="!registerArea" vertical="bottom" horizontal="end" slot="fixed" class="fabs">

        <ion-fab-button id="fabSquare" (touchstart)="onDrawSquare()">
            <img [src]=iconSquare/>
        </ion-fab-button>
        <ion-fab-button id="fabStar" routerLink="/favorites">
            <img [src]=iconStar/>
        </ion-fab-button>

        <ion-fab-button style="position: relative; left: -280%;" (click)="zIn()">
            In
        </ion-fab-button>
        <ion-fab-button style="position: relative; left: -280%;" (click)="zOut()">
            Out
        </ion-fab-button>
    </ion-fab>

</ion-content>