draw-canvas {
    width: 100%;
    height: 100%;
    display: block;
}

ion-fab.fabs {
    ion-fab-button#fabSquare {
        position: fixed;
        bottom: 18%;
        right: 5%;
    }
    ion-fab-button#fabStar {
        position: fixed;
        bottom: 5%;
        right: 5%;
    }
}

div.register {
    /*positions*/
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    /*settings*/
    background: #FFF;
    /*
    border: 1px solid red;
    border-radius: 10px;*/
    transform: translateY(15%);
    /*dimensions*/
    width: 80%;
    min-width: 300px;
    max-width: 700px;
    height: 70%;
    min-height: 400px;
    max-height: 600px;
    margin: 0 auto;
    padding: 0px;
    display: flex;
    ion-card {
        width: 100%;
        padding: 0px;
        margin: 0 auto;
        border-radius: 10px;
        ion-item {
            padding: 0;
            margin: 0 auto;
            margin-top: 10px;
        }
        ion-item#title {
            margin-top: 0;
        }
        ion-card-content.content {
            ion-item#login {}
            ion-item#description {
                margin-bottom: 15%;
            }
        }
    }
}


/*desabilita o scroll*/

ion-content {
    --overflow: hidden;
}