ion-fab.fabs {
    ion-fab-button#fabSquare {
        position: fixed;
        bottom: 18%;
        right: 5%;
    }
    ion-fab-button#fabStar {
        position: fixed;
        bottom: 5%;
        right: 5%;
    }
}